:root {
    --black: #463F3A;
    --grey: #7b7470;
    --light-grey: #BCB8B1;
    --white: #F4F3EE;
    --highlight: #E0AFA0;
    --highlight-dark: #c9302c;
}

* {
    font-family: "Quicksand", sans-serif;
    background-color: var(--white);
    color: var(--black);
}

a {
    color: var(--highlight-dark);  
}

a:hover {
    color: var(--highlight);
}

/* input[type="submit"] {
    background-color: var(--highlight-dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--highlight);
} */

button {
    background-color: var(--highlight-dark); 
    border: none;               
    color: white;              
    padding: 10px 20px;    
    text-align: center;        
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px;         
    border-radius: 5px;    
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: var(--highlight); 
}

button:disabled {
    background-color: #ccc;  
    cursor: not-allowed;       
}


/* Dark mode not working - button commented out */
body.dark-mode {
    background-color: var(--black);
    color: var(--white);
}
body.dark-mode a {
    color: var(--white);
}
body.dark-mode a:hover {
    color: var(--highlight);
}
