<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library</title>
</head>
<body>
    <nav>
        My Library |
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('test') }}">Test</a>
        <a href="{{ url_for('user_settings') }}">Settings</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>