{% extends "base.html" %}
{% block content %}
<h1>{{ book.title }}</h1>
<p>Description: {{ book.description }}</p>
<p>Pages: {{ book.pages }}</p>
<p>ISBN: {{ book.isbn }}</p>
<p>
    {% for user in users %}
        {% if book.added_by == user.id %}
            Added by: {{ user.username.title() }}
        {% endif %}
    {% endfor %}
</p>
<p>Added: {{ book.added.strftime('%Y/%m/%d %H:%M') }}</p>

{% if book.added_by == current_user.id %}
<a href="/edit_book/{{book.id}}">Edit</a>
{% endif %}

{% if current_user.is_authenticated %}
    {% if book.id == already_reading.book_id %}
        <form action="{{ url_for('stop_reading', book_id=book.id) }}" method="POST">
            <button type="submit">Stop Reading</button>
        </form>
    {% else %}
        <form action="{{ url_for('start_reading', book_id=book.id) }}" method="POST">
            <button type="submit">Start Reading</button>
        </form>
    {% endif %}
{% endif %}

{% endblock content %}