{% extends "base.html" %}
{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock styling %}
{% block content %}
<div class="index-container">
    <h1>Home</h1>
    <h3 class='welcome'>Welcome, {{ current_user.username|title}}</h3>
    <hr>
    <div>
        <h2>Books you've added:</h2>
        {% for book in books %}
            {% if book.added_by == current_user.id %}
                {{ book.title }}
            {% endif %}
        {% endfor %}
    </div>
    <a href="/books">View all books</a>
</div>
{% endblock content %}
